.hg{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

.main{
    height: 100vh;
    width: 450px;
}

.position-sticky {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 0px;
    background: #fff;
}

.h{
    height:60px;
    line-height: 0px;
    border-bottom: 1px solid #C4C4CA;
}

.juice-image img{
    height:100px;
    width: 90%;
    border: 2px solid #C4C4CA;
    border-radius: 8px;
}

.thumb,.thumb i,.h i{
    font-size: 18px;
}

.top_pics .pictures{
    height: 90px;
    width: 90px;
    border: 1px solid #C4C4CA;
    border-radius: 5px;
}

.top_pics{
    height: 160px;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.item{
    height: 100px;
    width: auto;
    margin:1px 10px; 
    line-height: 10px;  
}

.top_pics small{
    color:#C4C4CA;
}

.top_pics .item .text{
    font-size: 11px;
    line-height: 2px;
}

.sub-text{
    line-height: 2px;
}

.line{
    line-height: 0;
}

.images{
    height: 120px;
    width: 85px;
    border: 1px solid #C4C4CA;
    border-radius: 10px;   
}

.see-btn{
    width:360px;
    height: 50px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}

.last img{
    height:450px;
    width:100vw;
}

.fo{
    font-size: 14px;
}

.pad{
    padding-left:20px;
}
